version: '2.1'

services:

    front:
        build: ./front/
        restart: unless-stopped
        depends_on:
        - gitserver
        - jenkins
        - devbox
        ports:
        - "10000:10000"

    gitserver:
        build:
            context: ./gitserver/
            args:
            - FIRST_USER=butler
            - FIRST_REPO_NAME=worker
            - SOURCE_REPO_TO_MIRROR=https://github.com/jenkins-demo-org/worker
        restart: unless-stopped
        extra_hosts:
        - "${EXTERNAL_DOMAIN}:172.17.0.1" # For webhooks
        environment:
        - EXTERNAL_URL=http://${EXTERNAL_DOMAIN}:10000/gitserver

    jenkins:
        build: ./jenkins/
        restart: unless-stopped
        extra_hosts:
        - "${EXTERNAL_DOMAIN}:172.17.0.1" # For getting git repo
        environment:
        - JENKINS_OPTS=--prefix=/jenkins
        - DOCKER_HOST=tcp://docker-service:2375

    docker-agent:
        build: ./docker-agent/
        restart: unless-stopped
        privileged: true
        tmpfs:
        - /var/run
        - /run
        extra_hosts:
        - "${EXTERNAL_DOMAIN}:172.17.0.1" # For getting git repo
        environment:
        - JENKINS_SLAVE_SSH_PUBKEY=ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key

    devbox:
        build: ./devbox/
        restart: unless-stopped
        ports:
        - "9090:9090"
        environment:
        - DOCKER_HOST=tcp://docker-service:2375
        extra_hosts:
        - "${EXTERNAL_DOMAIN}:172.17.0.1" # For getting git repo

    docker-service:
      image: verb/socat:alpine
      restart: unless-stopped
      command: tcp-listen:2375,reuseaddr,fork unix:/docker.sock
      expose:
        - "2375"
      volumes:
        - /var/run/docker.sock:/docker.sock
